<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div id="header" th:fragment="head">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Hotels - Reservations</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="reservations">Reservations</a></li>
						<li><a href="guests">Guests</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>
